.vertical-menu {
    width: 200px;
height:100%;
    background-color: #eee;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;

}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: grey;
    color: white;
}
.btn{

width:  500px;
display: block;
  margin : auto;
}
form{
 border-width:2px;
border-radius: 20px;
border-style:outset;
width:650px;
height:340px;
padding:20px;
}
.col-sm-10  {
width: 300px;
display: block;
  margin : auto;

}
.dropdown{
display : inline-block;
padding-left: 65px;
padding-right: 65px;
padding-top: 10px;
padding-bottom: 30px;}

.etat{
border-width:2px;
border-radius: 20px;
border-style:outset;
width:760px;
height:190px;
padding:20px;



}